<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Create a New Blog</title>
<div th:replace="/fragments/styling :: head-style" ></div>
</head>
	<body>
		<div th:replace="fragments/navbar :: navbar" ></div>
				<div class="container">
			<h1>Put some stuff below and add to the blog-to-be!</h1>
	 		<form action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="post">
	 		
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Make a title!" th:field="*{title}" />
		 		</div>
		 		
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="What's your name? (Or pseudonym. Or username.)" th:field="*{author}" />
		 		</div>
		 		
		 		<div class="form-group">
		 			<input type="text" class ="form-control" placeholder="Write literally whatever you want. (Not literally. There's no validation in this form just yet, please be nice.)" th:field="*{blogEntry}" />
		 		</div>
		
		 		<button class="btn btn-primary">Submit Your Post</button>
			</form>
		</div>
<div th:replace="/fragments/styling :: body-links" ></div></body>
</html>